* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }
  
  .hero-banner {
    padding: 10px;
    font-size: 30px;
    background-color:#7F8FAE;
    color: #DCD6D0;
    text-align: center;
  }

  .hero-banner-subtitle {
    padding: 10px;
    font-size: 20px;
    background-color:#7F8FAE;
    color: #DCD6D0;
    text-align: center;
  }
  
  .nav-tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 10px 0;
  }
  
  nav-tabs a {
    color: #7F8FAE;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-tabs a:hover {
    color: #ffffff;
    transform: scale(1.05);
  }
  
  .contact-page {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
  }
  
  .portfolio-image {
    width: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .portfolio-image:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover { 
    color:#FFFFFF;
  }
  
  .footer-spell {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px 0;
    background-color: #DCD6D0;
    color: #7F8FAE;
  }
  
  html {
    background-color: #DCD6D0;
    color: #7F8FAE;
  }
  